@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/SourceCodePro-Regular.otf');
    }

    @media screen and (max-width: 1023px) {
        body {
            overflow-x: hidden;
            max-width: 100vw;
        }
    }

    body {
        transition: color 0.2s ease-out 0s, background 0.2s ease-out 0s;
    }

    /* Start purging... */
    /* Force GPU Accelerated scrolling, credit: Twitter Lite */
    .scrolling-gpu {
        transform: translateZ(0);
    }

    /*
   * Hopefully when scrollbar-color lands everywhere,
   * (and not just in FF), we'll be able to keep just this.
   */
    html .no-bg-scrollbar {
        scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    }

    html.dark .no-bg-scrollbar {
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    }

    /*
   * Until then, we have ... this.
   * If you're changing this, make sure you've tested:
   * - Different browsers (Chrome, Safari, FF)
   * - Dark and light modes
   * - System scrollbar settings ("always on" vs "when scrolling")
   * - Switching between modes should never jump width
   * - When you interact with a sidebar, it should always be visible
   * - For each combination, test overflowing and non-overflowing sidebar
   * I've spent hours picking these so I expect no less diligence from you.
   */
    html .no-bg-scrollbar::-webkit-scrollbar,
    html .no-bg-scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }

    html .no-bg-scrollbar:hover::-webkit-scrollbar-thumb,
    html .no-bg-scrollbar:focus::-webkit-scrollbar-thumb,
    html .no-bg-scrollbar:focus-within::-webkit-scrollbar-thumb,
    html .no-bg-scrollbar:active::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border: 4px solid transparent;
        background-clip: content-box;
        border-radius: 10px;
    }

    html .no-bg-scrollbar::-webkit-scrollbar-thumb:hover,
    html .no-bg-scrollbar::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.35) !important;
    }

    html.dark .no-bg-scrollbar:hover::-webkit-scrollbar-thumb,
    html.dark .no-bg-scrollbar:focus::-webkit-scrollbar-thumb,
    html.dark .no-bg-scrollbar:focus-within::-webkit-scrollbar-thumb,
    html.dark .no-bg-scrollbar:active::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }

    html.dark .no-bg-scrollbar::-webkit-scrollbar-thumb:hover,
    html.dark .no-bg-scrollbar::-webkit-scrollbar-thumb:active {
        background-color: rgba(255, 255, 255, 0.35) !important;
    }
}

@layer components {
    hr {
        @apply border-neutral-400/30 dark:border-neutral-400/20;
    }

    .h2 {
        @apply pl-2 pb-7 md:pb-8 text-3xl md:text-5xl font-bold tracking-tighter leading-tight font-poppins;
    }

    .buttonPrimaryRound {
        @apply flex items-center text-slate-600 dark:text-slate-300 max-w-max px-5 py-3 rounded-full border-gray-600 dark:border-gray-300 border-2 border-solid hover:bg-slate-600 dark:hover:bg-slate-300 hover:text-white dark:hover:text-black;
    }

    .border-lite {
        @apply border-solid border border-[#5e5e5e2e] dark:border-[#8989892e]
    }

    .text-2 {
        @apply text-neutral-700 dark:text-neutral-300;
    }

    .text-3 {
        @apply text-neutral-600 dark:text-neutral-400;
    }

    .project-hero-texture {
        @apply bg-repeat bg-center bg-contain bg-[url('/assets/pattern/pattern1.svg')] dark:bg-[url('/assets/pattern/pattern1-dark.svg')];
    }
}